@page "/NewItem/{UserId:int}"
@page "/UpdateItem/{ItemId:int}"
@if (!IsLoad)
{
    <div><h1>loading ....</h1></div>
}
else
{
    <div class="mb-4 mt-2"><h3>@(IsNew ? "Create Item" : "Update Item") for @User.UserName</h3></div>
    <EditForm Model="Item" OnValidSubmit="UpdateOrCreate">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="form-group d-flex flex-column" >
                <label>Number of points:</label>
                @if (IsLeader)
                {
                    <input type="number" @bind="Item.NumberOfPoints" class="form-control"></input>
                }
                else
                {
                    <span>@Item.NumberOfPoints</span>
                }
                <ValidationMessage For="@(() => Item.NumberOfPoints)" />
            </div>
            @if (IsNew)
            {
                <div class="form-group">
                    <label>Startech:</label><select @bind="Item.Startech" class="form-control">
                        @foreach (var startech in AvailableStartechs)
                                {
                            <option value="@startech">@startech</option>
                                }
                    </select>
              <ValidationMessage For="@(() => Item.Startech)" />
                </div>
            }
    <div class="form-group">
        <label>Type: </label><select value="@(Item.Type?.Id ?? 0)" @onchange="OnTypeChanged" class="form-control">
            @if (IsLeader)
            {
                <option value="n">No Type</option>
            }
            @foreach (var itemType in ItemTypes)
            {
                <option value="@itemType.Id">@itemType.TypeName</option>
            }
        </select>
        <ValidationMessage For="@(() => Item.Type)" />
    </div>
    <div class="form-group">
        <label>Url Justification:</label>
        <input @bind="Item.UrlJustification" class="form-control" />
        <ValidationMessage For="@(() => Item.UrlJustification)" />
    </div>
    <div class="form-group">
        <label>Text Justification:</label>
        <textarea @bind="Item.TextJustification" class="form-control" />
        <ValidationMessage For="@(() => Item.TextJustification)" />
    </div>
            <div class="d-flex justify-content-center" >
                <button  type="submit" class="btn btn-outline-primary m-4">Validate</button>
                <button type="button" class="btn btn-outline-primary m-4" @onclick="ReturnToStarpointItemsList" >Cancel</button>
            </div>
    </EditForm>
            

        }