@page "/NewItem/{UserId:int}"
@page "/UpdateItem/{ItemId:int}"
@if (!IsLoad)
{
    <h1>loading ....</h1>
}
else
{
    <h1>@(IsNew ? "Create Item" : "Update Item") for @User.UserName</h1>
    <EditForm Model="Item" OnValidSubmit="UpdateOrCreate">
        <div class="form-group">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div>
                <label>Number of points:</label>
                @if (IsLeader)
                {
                    <input type="number" @bind="Item.NumberOfPoints" class="form-control"></input>
                }
                else
                {
                    <span>@Item.NumberOfPoints</span>
                }
            </div>
            @if (IsNew)
            {
                <div>
                    <label>Startech:</label><select @bind="Item.Startech" class="form-control">
                        @foreach (var startech in AvailableStartechs)
                                {
                            <option value="@startech">@startech</option>
                                }
                    </select>

                </div>
            }
            <div>
                <label>Type: </label><select value="@Item.Type" @onchange="OnTypeChanged" class="form-control">
                    @if (IsLeader)
                        {
                        <option value="n">No Type</option>
                        }
                    @foreach (var itemType in ItemTypes)
                        {
                        <option value="@itemType.Id">@itemType.TypeName</option>
                        }
                </select>
            </div>
            <div>
                <label>Url Justification:</label>
                <input @bind="Item.UrlJustification" class="form-control" />
            </div>
            <div>
                <label>Text Justification:</label>
                <textarea @bind="Item.TextJustification" class="form-control" />
            </div>
        </div>
    </EditForm>
            

        }