@using Blazored.Typeahead
<div class="card" style="padding: 25px; margin-bottom: 35px" >
    <h1>@DisplayName</h1>
    <div class="d-flex flew-row h-auto" style="margin-bottom: 35px;">
        <BlazoredTypeahead SearchMethod="SearchUser" Debounce="200"  @bind-Value="UserObjectToAdd">
            <SelectedTemplate>
                @context.UserName
            </SelectedTemplate>
            <ResultTemplate>
                @context.UserName
            </ResultTemplate>
            <NotFoundTemplate>
                Sorry no result
            </NotFoundTemplate>
        </BlazoredTypeahead>
        <button @onclick="AddUser" style="width: 210px; " class="btn btn-outline-primary ml-3">Add @DisplayName</button>
    </div>
    <div class="alert alert-primary">List of all @DisplayName</div>
    <ul class="list-group">
        @foreach (var user in Leaders)
        {
            <li class="list-group"><div class="d-flex flew-row" /><div class="w-100"><span class="oi oi-person mr-2" /><span>@user.UserName</span><button  style="color: red;" class="oi oi-circle-x btn" @onclick="@(() => OnRemove(user))" /></div></li>
        }
    </ul>
</div>
