<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Star tech manager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home mr-2" aria-hidden="true" />My points
            </NavLink></li>
        <li class="nav-item px-3">
            <AuthorizeView Policy="@Roles.Admin">
                <NavLink class="nav-link" href="/leaders" Match="NavLinkMatch.All">
                    <span class="oi oi-people mr-2" aria-hidden="true" />Set up leaders
                </NavLink>
            </AuthorizeView></li>
        <AuthorizeView Policy="@StartechPolicyHelper.AllStartechLeader">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"/PointsToValidate")" Match="NavLinkMatch.All"><span class="oi oi-check mr-2" aria-hidden="true" />Points to validate</NavLink>
              </li>  
                @foreach (Startechs startech in Enum.GetValues(typeof(Startechs)))
                {
                    <AuthorizeView Policy="@StartechPolicyHelper.GetPolicyName(startech, true)" Context="smlqs">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"/members/{startech}")" Match="NavLinkMatch.All">
                        <span class="oi oi-home mr-2" aria-hidden="true" />Leader @startech area
                    </NavLink>
                </li>
            </AuthorizeView>
            }
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
